body {
  font-family: "Quicksand", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 2rem;
}

.heading-primary {
  color: $color-primary;
  text-align: center;

  .logo {
    font-size: 150%;
  }
}

.heading-component {
  color: $color-black;
}
