.button-wrapper {
  text-align: center;

  .btn {
    &:link,
    &:visited {
      font-size: 100%;
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
      padding: 0.5rem 1rem;
      align-self: center;
      border-radius: 4rem;
      -webkit-border-radius: 4rem;
      -moz-border-radius: 4rem;
      -ms-border-radius: 4rem;
      -o-border-radius: 4rem;
    }

    &-full {
      font-family: "Quicksand", "Arial", sans-serif;
      font-size: 100%;
      text-transform: uppercase;
      background-color: $color-primary;
      border: 1px solid $color-primary;
      color: $color-white;
      padding: 0.7rem 1rem;
      margin: 1rem auto;
      width: 85%;
      border-radius: 4rem;
      -webkit-border-radius: 4rem;
      -moz-border-radius: 4rem;
      -ms-border-radius: 4rem;
      -o-border-radius: 4rem;
    }

    &-ghost {
      border: 1px solid $color-primary;
      color: $color-primary;
      width: 50%;
    }
  }
}
