.stock-list {
  max-height: 75vh;
  list-style: none;
  overflow: scroll;

  li {
    margin-bottom: 1rem;
    text-transform: uppercase;

    .col-1-of-2 {
      margin-bottom: 2rem;
    }
  }
}
.decrease {
  color: $color-red;
}
.increase {
  color: $color-green;
}
.no-change {
  color: $color-grey-light;
}
