// COLORS
$color-primary: #2196f3;
$color-primary-light: #bbdefb;
$color-primary-dark: #1976d2;
$color-primary-accent: #448aff;

$color-grey-light: #bdbdbd;
$color-grey-dark: #757575;
$color-white: #ffffff;
$color-black: #212121;

$color-red: #f44336;
$color-red-light: #ffcdd2;
$color-red-dark: #d32f2f;
$color-red-accent: #ff5252;

$color-green: #4caf50;
$color-green-light: #c8e6c9;
$color-green-dark: #388e3c;
$color-green-accent: #4caf50;

// GRID
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
